.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 2vmin
}

.row {
  display: flex;
  gap: 2vmin;
}

.cell {
  background-color: antiquewhite;
  height: 15vmin;
  width: 15vmin;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
  gap: 2vmin
}
.x-cell {
  color: #d161ff
}

.o-cell {
  
  color: #d161ff
}
